<div class="container">
  <h2>Editar Categoría</h2>
  <form (ngSubmit)="updateCategory()">
    <div class="form-group">
      <label for="name">Nombre de la categoría</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="category.name"
        name="name"
        required
      />
    </div>
    
    <!-- Campo para editar la imagen -->
    <div class="form-group">
      <label for="image">Imagen de la categoría</label>
      <input
        type="text"
        id="image"
        class="form-control"
        [(ngModel)]="category.image"
        name="image"
        placeholder="Ingresa la URL de la imagen"
      />
    </div>
    
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </form>
</div>
