<nav class="navbar-custom">
  <div class="container-custom">
    <a class="navbar-brand-custom" href="/">Shopping</a>
    <ul class="navbar-nav-custom">
      <li class="nav-item-custom">
        <a class="nav-link-custom" routerLink="/products" routerLinkActive="active">Productos</a>
      </li>
      <li class="nav-item-custom">
        <a class="nav-link-custom" routerLink="/product-create" *ngIf="isAuthenticated" routerLinkActive="active">Crear Producto</a>
      </li>
      <li class="nav-item-custom">
        <a class="nav-link-custom" [routerLink]="'/categories'">Categorías</a>
      </li>
      <li class="nav-item-custom">
        <a class="nav-link-custom" *ngIf="isAuthenticated" [routerLink]="'/category-create'">Añadir Categoría</a>
      </li>

      <!-- Sección de usuarios -->
      <li class="nav-item-custom">
        <a class="nav-link-custom" [routerLink]="'/users'">Usuarios</a>
      </li>
      <li class="nav-item-custom" *ngIf="isAuthenticated">
        <a class="nav-link-custom" [routerLink]="'/user-create'">Crear Usuario</a>
      </li>

      <li class="nav-item-custom" *ngIf="!isAuthenticated">
        <a class="nav-link-custom" routerLink="/login">Iniciar sesión</a>
      </li>
      <li class="nav-item-custom" *ngIf="isAuthenticated">
        <button class="btn-custom" (click)="logout()">Cerrar sesión</button>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
