<div class="container">
    <h2>Lista de Categorías</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>
            <button class="btn btn-warning" *ngIf="isAuthenticated" [routerLink]="['/category-edit', category.id]">Editar</button>
            <button class="btn btn-danger" *ngIf="isAuthenticated" (click)="deleteCategory(category.id)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  